* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

.cards {
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}


.card {
    background: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
}


.card-header {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
}

.card-header h2 {
    font-size: 1.2rem;
}


.card-body {
    padding: 2rem;
    text-align: center;
}


.c1 { background-color: #7d677e; }
.c2 { background-color: #4f2c4d; }
.c3 { background-color: #360b41; }
.c4 { background-color: #ccc9aa; }
.c5 { background-color: #67be9b; }
.c6 { background-color: #2e2444; }
.c7 { background-color: #b31d6a; }
.c8 { background-color: #000000; }
.c9 { background-color: #001f36; }
.c10 { background-color: #1c5560; }
.c11 { background-color: #79ae92; }
.c12 { background-color: #2e2444; }

